<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/layout :: common_header(~{::title},~{})">
  <title th:text="#{apartment.new.title}">Add Apartment</title>
</head>
<body>		
<h1 th:text="#{apartment.new.title}"></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  '
  <form th:method="POST" th:action="@{/apartments}" th:object="${apartment}" >
  
  <label th:for="${#ids.next('name')}" th:text="#{apartment.form.name}">Name</label>
  <input type="text" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" style="color:blue">Incorrect name</p>
  
  <label th:for="${#ids.next('floor')}" th:text="#{apartment.form.floor}">floor</label>
  <input type="text" th:field="*{floor}" class="form-control" th:classappend="${#fields.hasErrors('floor')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}" class="error" style="color:blue">Incorrect floor</p>
  
  <label th:for="${#ids.next('bedrooms')}" th:text="#{apartment.form.bedrooms}">bedrooms</label>
  <input type="text" th:field="*{bedrooms}" class="form-control" th:classappend="${#fields.hasErrors('bedrooms')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('bedrooms')}" th:errors="*{bedrooms}" class="error" style="color:blue">Incorrect bedrooms</p>
  
  <label th:for="${#ids.next('bathrooms')}" th:text="#{apartment.form.bathrooms}">bathrooms</label>
  <input type="text" th:field="*{bathrooms}" class="form-control" th:classappend="${#fields.hasErrors('bathrooms')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('bathrooms')}" th:errors="*{bathrooms}" class="error" style="color:blue">Incorrect bathrooms</p>
  
  <label th:for="${#ids.next('cost')}" th:text="#{apartment.form.cost}">cost</label>
  <input type="text" th:field="*{cost}" class="form-control" th:classappend="${#fields.hasErrors('cost')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="error" style="color:blue">Incorrect cost</p>
  
  <label th:for="${#ids.next('area')}" th:text="#{apartment.form.area}">area</label>
  <input type="text" th:field="*{area}" class="form-control" th:classappend="${#fields.hasErrors('area')}? 'fieldError'" />
  <p th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="error" style="color:blue">Incorrect area</p>
  
  <label th:for="${#ids.next('project_id')}" th:text="#{apartment.form.project_id}">project_id</label>
  <select th:field="*{project_id}">
  		<option value=""> -- </option>
        <option th:each="project : ${projects}"
                th:value="${project.id}"
               	th:utext="${project.name}"/>
  </select>
  <p th:if="${#fields.hasErrors('project_id')}" th:errors="*{project_id}" class="error" style="color:blue">Incorrect projectId</p>
	
	<label th:for="${#ids.next('description')}" th:text="#{apartment.form.description}">description</label>
		<textarea id="editor1" th:field="*{description}" cols="80" rows="10"></textarea>
       <script>
 
           CKEDITOR.replace( 'editor1' );
 
       </script> 

  <input type="submit" value="Post" th:attr="value=#{apartment.new.title}" class="btn btn-primary"/>
</form>
 </div>
</div>
</body>
</html>