<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/layout :: common_header(~{::title},~{})">
  <title th:text="#{apartment.index.title}">Apartments</title>
</head>
<body>
  <h1 th:text="#{apartment.index.all}">All Apartments</h1>
  
  <ul class="apartments">
    <li th:each="apartment : ${apartments}" th:id="'apartment_'+${apartment.id}" th:padding-left="300px">
      <a th:href="@{'/apartments/'+${apartment.id}}" th:text="${apartment.name}"></a>
    </li>
  </ul>
  
  <div th:if="${apartments.totalPages > 0}" th:replace="~{shared/_pagination :: copy(${apartments}, '/apartments')}"></div>
</body>
</html>