<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4cXd5iCKHbZp9um01ileGFg1oTE6Pq6Q&sensor=false"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<title th:text="#{apartment.show.title}">Apartment Info</title>
</head>
<body>
	<div class="slide-apartment" tabindex="0">
		<div>
			<img th:if="${apartment.attached}" th:src="${#viewSupport.getImageUrl(apartment.image)}" width="1000" height="500"/>
		</div>
		<div class="description" id="product-detail-web" uid="233197">
		<h1>
			<span th:text="${apartment.name}">Name</span>
		</h1>
			<div class="divide">&nbsp;</div>
			<div class="short-detail-wrap">
				<ul class="short-detail-2 clearfix pad-16">
					<li>
						<span class="sp1">Muc Gia: </span>
						<span th:text="${apartment.cost}">Cost</span>
					</li>
					<li>
						<span class="sp1">Khu Vuc: </span>
						<span th:text="${apartment.area}">Area</span>
					</li>
					<li>
						<span class="sp1">Phong Ngu:</span>
						<span th:text="${apartment.bedrooms}">Bedrooms</span>
					</li>
					<li>
						<span class="sp1">Phong tam: </span>
						<span th:text="${apartment.bathrooms}">Bathrooms</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="divide">&nbsp;</div>
		<div class="detail-product">
			<div class="detail-1 pad-bot-16">
				<span class="title-detail">Du An</span>
				<p>
					<span th:text="${apartment.project.name}">Project</span>
				</p>
			</div>
			<div class="detail-1 pad-bot-16">
				<span class="title-detail">Thong tin mo ta</span>
				<p>
					<span th:utext="${apartment.description}">Description</span>
				</p>
			</div>
		</div>
	</div>
	<div id="googleMap" style="display: block; height: 500px; width: 100%;"></div>
	<script>
		function myMap() {
			var locationX = [[${apartment.locationX}]];
			var locationY = [[${apartment.locationY}]];
			var mapProp= {
			  center:new google.maps.LatLng(locationX, locationY),
			  zoom:13,
			};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			}
			
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4cXd5iCKHbZp9um01ileGFg1oTE6Pq6Q&callback=myMap"></script>
	
</body>
