<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean id="userDao"
		class="b.apartment.dao.imp.UserDAOImp">
		<property name="hibernateTemplate"
			ref="hibernateTemplateBean" />
	</bean>
	
	<bean id="apartmentDao"
		class="b.apartment.dao.imp.ApartmentDAOImp">
		<property name="hibernateTemplate"
			ref="hibernateTemplateBean" />
	</bean>
	
	<bean id="projectDao"
		class="b.apartment.dao.imp.ProjectDAOImp">
		<property name="hibernateTemplate"
			ref="hibernateTemplateBean" />
	</bean>

	<bean id="provinceDao"
		  class="b.apartment.dao.imp.ProvinceDAOImp">
		<property name="hibernateTemplate"
				  ref="hibernateTemplateBean" />
	</bean>

	<bean id="districtDao"
		  class="b.apartment.dao.imp.DistrictDAOImp">
		<property name="hibernateTemplate"
				  ref="hibernateTemplateBean" />
	</bean>

</beans>